{% extends 'main_app/base.html' %} {% block content %}
<hr />
<h1>landing page connected</h1>
<h2>
	App^2 is a Job Application tracking app, where users input information about
	their Job Applications and App^2 will store the information and allow users to
	view a dynamic feed that will show users how many days it's been since they
	applied, the Job title, company and the status. This dynamic feed will also
	allow users to sort by days since applied (Ascending and Descending order) and
	status, as well as allow users to search their database of applications by
	title, company, application ID and where they applied
</h2>
<hr />
{% endblock %}
