{% extends 'base.html' %} {% block content %}
<hr />

<div class="feed-container">
	<h2>My Feed</h2>
	<div class="drop-down-container">
		<label for="filtering">Filter By:</label>
		<select class="drop-down" type="sort-by">
			<option id="1" value="{{ self.date_applied }}">Date applied</option>
			<option id="2" value="{{ self.logged }}">Date logged</option>
			<option id="3" value="{{ self.status }}">Current Status</option>
		</select>
	</div>
	<div>
		<a href="{% url 'applications_create' %}">New Application</a>
	</div>
	{% for application in applications %}
	<div class="feed-item">
		<span>{{ application.link }}</span>
		<span>{{ application.date }}</span>
		<span>{{ application.logged }}</span>
		<span>{{ application.status }}</span>
		<a href="{% url 'detail' application.id %}">View This App</a>
	</div>
	{% endfor %}
</div>
<hr />
{% endblock %}
