{% extends 'main_app/base.html' %} {% block content %}

<h1>My Apps</h1>
<h2>
	Goddammit, Mariessa, I think you were right and we don't need this page if
	they can quick-view all these in the trough. >:[
</h2>
<h3>So this will probably be the page for a single app's full view?</h3>
<h4>
	Also, we can recycle this drop-down in the trough, yeah? We can make them look
	different in the styles, if necessary.
</h4>
<div class="app-list-full">
	{% for application in applications %}
	<a href="{% url 'main_app:application_detail' application.id %}">
		<div class="card">
			<span class="date-applied">{{ application.date_applied }}</span>
			<span class="date-applied">{{ application.date_applied }}</span>
			<span class="date-applied">{{ application.date_applied }}</span>
			<span class="date-applied">{{ application.date_applied }}</span>
		</div>
	</a>
	{% endfor %}
</div>
<div class="drop-down-container">
	<label for="filtering">Filter By:</label>
	<select class="drop-down" type="sort-by">
		<option id="1" value="{{ self.date_applied }}">Date applied</option>
		<option id="2" value="{{ self.logged }}">Date logged</option>
		<option id="3" value="{{ self.status }}">Current Status</option>
	</select>
</div>

{% endblock %}
